pre {
    font-size:1.25em;
}

article {
    display:none;
    margin:25px;
    margin-top:85px;
}

#result {
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    height:400px;
    overflow:auto;
}

    #result p img {
        margin-top:20px;
        border-radius:4px;
    }

#clear-button-container {
    margin-right:20px;
    margin-top:15px;
}

body {
    background-image:url(../img/bkg.png);
    background-repeat:no-repeat;
}

footer {
    margin-left:25px;
    margin-right:15px;
    margin-bottom:15px;
    font-size:.8em;
    color:#666;
    text-align:center;
    margin-top:15px;
}

h1,h2,h3,h4,h5,h6 {
    color:#808080;
}

    h1 span {
        font-size:.5em;
        color:#ccc;
    }

h1 .muted {
    color: #ddd;
    font-size: 0.6em;
    font-style: italic;
}

h5.muted {
    text-transform:uppercase;
}

.tab-content pre {
    max-height:408px;
    overflow:auto;
    white-space:nowrap;
}

.tab-content {
    margin-bottom:10px;
}

#demo-nav {
    opacity:0.25;
}

.hidden {
    display:none;
}

#elements button {
    margin-bottom:10px;
    margin-top:-10px;
    margin-right:4px;
}

.push-down {
    margin-top:15px;
}